h1, form label, form input, form span {
    font-family: 'ZCOOL KuaiLe', cursive;
}

h1 {
    margin-left: 20%;
}

p {
    margin-left: 20%;
    padding-left: 5em;
}
span {
    color: red;
}

input[type=text] {
    margin-bottom: 1em;
}

form label {
    text-align: right;
    display: inline-block;
    width: 20%;
    margin-right: 2em;
}

form button {
    margin-left: 20%;
    border-radius: 1em;
    padding: .75em;
    background-color: skyblue;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'ZCOOL KuaiLe', cursive;
    
}

h1:hover {
    cursor: pointer;
}

button:hover {
    background-color:royalblue;
}
a
.message {
    font-style: italic;
    margin-left: 20%;
}

@media only screen and (max-width: 400px) {
    form label {
        text-align: left;
    }
}